

{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Contact:</td>
    <td>{{ contact }}</td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>{{ Address }}</td>
  </tr>
  <tr>
    <td>email:</td>
    <td>{{ email }}</td>
  </tr>
</table>
{{/if}}